* {
    font-family: 'Courier New', monospace;
}

body {
    background-color: #FDF0D5;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

#calc {
    background-color: #001E4A;
    box-sizing: border-box;
    padding: 56px 32px 32px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#display {
    background-color: rgba(255,255,255, 50%);
    border-radius: 3px;
    display: flex;
    padding: 12px 18px;
    justify-content: flex-end;
}

#dispNum {
    font-size: 72px;
}

#brand {
    font-size: 14px;
    text-align: center;
    margin-bottom: 48px;
    color: rgba(255,255,255, 50%)
}

#keys {
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

button {
    background-color: #7A0000;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
    width: 70px;
    padding: 0;
}

.del {
    font-size: 16px;
    background-color: #E01522;
}

.operStyle {
    background-color: #E01522;
    font-size: 24px;
}

.operClicked {
    background-color: #F16A73;
}