* {
    font-family: 'Courier New', monospace;
}

body {
    background-color: #60405C;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

#calc {
    background-color: #EDE5EF;
    box-sizing: border-box;
    padding: 56px 32px 32px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#display {
    background-color: #1C111B;
    border-radius: 3px;
    display: flex;
    padding: 12px 18px;
    justify-content: flex-end;
}

#dispNum {
    font-size: 72px;
    letter-spacing: -1px;
    color: #EDE5EF;
}

#brand {
    font-size: 14px;
    text-align: center;
    margin-bottom: 48px;
    color: #1C111B;
}

#keys {
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.rows {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 100%;
}

button {
    background-color: #321E30;
    color: white;
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
    width: 70px;
    padding: 0;
}

.delStyle {
    font-size: 16px;
    background-color: #70587C;
}

.operStyle {
    background-color: #70587C;
    font-size: 24px;
}

.operClicked {
    background-color: #4B3B54;
}

.numClicked {
    background-color: #1A0F18;
}